<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir la raíz a la carpeta public/
    RewriteRule ^$ public/ [L]

    # Redirigir cualquier otra ruta que no sea un archivo o carpeta existente a public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
